/* ****************************** */
/* *********** HEADER *********** */
/* ****************************** */
header.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--tint-clr1);

  /* setting the height to setup a sticky position later */
  block-size: 9.6rem;
  padding-inline: 4.8rem;
}

.logo {
  block-size: 2.2rem;
}

/* ****************************** */
/* ********* Navigation ********* */
/* ****************************** */
.main-nav-list {
  list-style: none;
  display: inline-flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-link:any-link {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;

  color: var(--dark-grey);

  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--shade-clr1);
}

.main-nav-link.nav-cta:any-link {
  padding-block: 1.2rem;
  padding-inline: 2.4rem;
  border-radius: var(--border-radius-default);
  color: var(--white);
  background-color: var(--primary-clr);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--shade-clr1);
}

/* Mobile */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  font-size: 4.8rem;
  color: var(--dark-grey);
}

.icon-mobile-nav[name='close'] {
  display: none;
}

/* sticky nav */
.sticky .main-header {
  position: fixed;
  inset-block: 0;
  inset-inline: 0;
  inline-size: 100%;
  background-color: var(--white-trans-smoke);
  block-size: 8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 100;
}

.sticky .section-hero {
  margin-block-start: 9.6rem;
}

/* ****************************** */
/* ******** HERO SECTION ******** */
/* ****************************** */
.section-hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    /* 'start heading-primary hero-img end' */
    /* 'start hero-text hero-img end'; */
    'heading-primary hero-img'
    'hero-text hero-img';
  align-items: center;
  justify-items: end;
  column-gap: 9.6rem;
  padding-inline: 4.8rem;

  background-color: var(--tint-clr1);
  padding-block: 4.8rem 9.6rem;
}

/* Hero Layout Items */
.hero-items {
  max-inline-size: 60rem;
}

.heading-primary {
  grid-area: heading-primary;
}

.hero-text {
  grid-area: hero-text;
}

.btn-group {
  display: flex;
  gap: 1.6rem;
  flex-wrap: wrap;
}

.hero-description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;

  margin-block-end: 4.8rem;
}

.delivered-meals {
  margin-block-start: 8rem;
  /* position: relative; */
  /* justify-self: start; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delivered-meals img {
  block-size: 4.8rem;
  inline-size: 4.8rem;
  border-radius: 50%;
  border: 3px solid var(--tint-clr1);
}

.delivered-meals img:not(:nth-last-child(2)) {
  margin-inline-end: -2.6rem;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  /* display: inline-block;
  position: absolute;
  inset-block-start: 50%;
  transform: translate(1rem, -50%); */
}

.delivered-text data,
.delivered-text span {
  color: var(--primary-clr);
  font-weight: 700;
}

.hero-img {
  grid-area: hero-img;
  inline-size: 100%;
  justify-self: start;
  /* justify-self: end; */
}
/* End of Hero Layout */

/* ****************************** */
/* ****** FEATURED SECTION ****** */
/* ****************************** */
.section-featured {
  margin-block-start: 4.8rem;
  margin-block-end: 3.2rem;
}
.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 0.75px;
  font-weight: 500;
  text-align: center;
  margin-block-end: 2.4rem;
  color: var(--lighter-grey);
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  block-size: 3.2rem;
  /* filter: grayscale(100%); */
  filter: brightness(0);
  opacity: 50%;
}

/* ****************************** */
/* **** HOW IT WORKS SECTION **** */
/* ****************************** */
.section-how {
  padding-block: 9.6rem;
  margin-inline: auto;
}

.section-how > header {
  margin-inline: auto;
}

.section-how > ol {
  list-style: none;
}

.step-how {
  counter-increment: steps;
  /* to reset counter when body reload */
  counter-reset: body;
}

.step-how:not(:last-child) {
  margin-block-end: 9.6rem;
}

.step-number::before {
  content: counter(steps, decimal-leading-zero);
  font-size: 8.6rem;
  font-weight: 600;
  color: var(--grey);
  margin-block-end: 1.2rem;
}

.step-description {
  font-size: 1.8rem;
  line-height: 1.8;
}

.step-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-img-container::before,
.step-img-container::after {
  content: '';
  border-radius: 50%;
  position: absolute;
}

.step-img-container::before {
  background-color: var(--tint-clr1);
  inline-size: 25%;
  padding-block-end: 25%;
  z-index: -2;
}

.step-img-container::after {
  background-color: var(--tint-clr3);
  inline-size: 20%;
  padding-block-end: 20%;
  z-index: -1;
}

.step-img {
  inline-size: 35%;
}

.left-cell {
  grid-area: 1/1/2/2;
}

/* ******************************* */
/* ******** MEALS SECTION ******** */
/* ******************************* */
.section-meals {
  padding-block: 9.6rem;
  margin-inline: auto;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: var(--border-radius-medium);
  /* to show the round edges of the background */
  /* which was overflowed by the image */
  overflow: hidden;
  transition: all 0.3s;
}

.meal:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.meal-img {
  inline-size: 100%;
}

.meal-title {
  margin-block-start: 3.2rem;
  margin-inline: 4.8rem;
}

.meal-tags {
  margin-block-start: 0.6rem;
  margin-block-end: 1.2rem;
  margin-inline-start: 0.6rem;
  display: flex;
  gap: 0.6rem;
}

.tag {
  font-weight: 600;
  padding-block: 0.4rem;
  padding-inline: 1.2rem;
  text-transform: uppercase;
  color: var(--dark-grey);
  border-radius: 100px;
}

.tag--vegetarian {
  background-color: var(--vegetarian-clr);
}

.tag--vegan {
  background-color: var(--vegan-clr);
}

.tag--paleo {
  background-color: var(--paleo-clr);
}

.meal-title,
.diet-list-title {
  font-size: 2.4rem;
  color: var(--dark-grey);
  font-weight: 600;
  margin-block-end: 3.2rem;
}

.meal-attributes {
  margin-inline: 4.8rem;
  margin-block-end: 4.8rem;
}

.meal-attribute span,
.list-item span {
  font-size: 1.8rem;
}

.meal-attribute data {
  font-weight: 500;
}

.all-recipes {
  display: inline-block;
  font-size: 1.8rem;
  text-align: center;
  margin-block-start: 3.2rem;
}

.section-meals header,
.section-meals footer {
  text-align: center;
}

/* ****************************** */
/* **** TESTIMONIALS SECTION **** */
/* ****************************** */
.section-testimonials {
  background-color: var(--tint-clr1);

  display: grid;
  grid-template-columns: 55fr 45fr;
  padding-block: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.45fr repeat(2, 1fr);
  gap: 1.2rem;

  /* margin-block: 9.6rem; */
  margin-inline: 9.6rem;
}

.testimonials header {
  grid-column: 1/-1;
  /* margin-block-end: 0; */
}

.testimonial-img {
  inline-size: 6.4rem;
  border-radius: 50%;
  margin-block-end: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-block-end: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: var(--light-grey);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  align-items: center;
  gap: 1.2rem;

  padding-inline-end: 1.2rem;
  /* padding-block: 1.2rem; */
}

.gallery figure {
  overflow: hidden;
}

.gallery picture {
  overflow: hidden;
}

.gallery img {
  inline-size: 100%;
  transition: all 0.3s;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* ****************************** */
/* **** PRICING SECTION **** */
/* ****************************** */
.section-pricing {
  padding-block: 9.6rem;
  margin-inline: auto;
}

.price-plan {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-medium);
  inline-size: 75%;
}

.starter-plan {
  justify-self: end;
  /* border: 2px solid var(--tint-clr1); */
  outline: 0.2rem solid var(--tint-clr1);
  padding-block: 4.6rem;
  padding-inline: 4.6rem;
}

.complete-plan {
  background-color: var(--tint-clr1);
  padding-block: 4.8rem;
  padding-inline: 4.8rem;
  position: relative;
  overflow: hidden;
}

.complete-plan::after {
  content: 'Best Value';
  position: absolute;
  text-transform: uppercase;
  inset-block-start: 2.5em;
  inset-inline-end: -8.5em;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--dark-grey);
  background-color: var(--paleo-clr);
  padding-block: 0.8rem;
  padding-inline: 12rem;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-block-end: 4.8rem;
}
.plan-name {
  color: var(--shade-clr1);
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.75px;
  text-transform: uppercase;

  margin-block-end: 3.2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: var(--dark-grey);
  margin-block-end: 1.6rem;
}

.plan-price data[value='USD'] {
  font-size: 3rem;
  font-weight: 500;
  margin-inline-end: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: var(--light-grey);
}

.plan-sign-up {
  align-self: center;
  margin-block-start: 4.8rem;
}

.pricing-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  margin-block-start: 4.8rem;
  margin-block-end: 9.6rem;
}

.price-features {
  grid-column: 1/-1;
}

.price-features ul {
  list-style: none;
}

.feature-icon {
  color: var(--primary-clr);
  /* block-size: 2.4rem;
  inline-size: 2.4rem; */
  font-size: 3.2rem;
  background-color: var(--tint-clr1);
  padding-block: 1.6rem;
  padding-inline: 1.6rem;
  border-radius: 50%;
  margin-block-end: 3.2rem;
}

.feature-title {
  font-size: 2.4rem;
  color: var(--dark-grey);
  font-weight: 700;
  margin-block-end: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

/* ******************************* */
/* ********* CTA SECTION ********* */
/* ******************************* */
.section-cta {
  margin-block: 4.2rem 12.8rem;
  margin-inline: auto;
}

.section-cta *:focus {
  box-shadow: 0 0 0 0.8rem var(--tint-trans-clr2);
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: var(--primary-clr);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: var(--border-radius-medium);
  background-image: linear-gradient(var(--primary-clr), var(--primary-clr));

  overflow: hidden;
}

.cta-text-box {
  color: var(--shade-clr4);
  margin-block: 4.8rem 6.4rem;
  margin-inline: 6.4rem;
}

.cta-text-box header {
  margin-block-end: 4.8rem;
}

.cta-text-box header h2 {
  margin-block-end: 3.2rem;
  color: inherit;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.cta-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-img-box {
  background-image: linear-gradient(
      var(--shade-trans-clr2),
      var(--primary-trans-clr)
    ),
    url('../img/eating.webp');
  background-size: cover;
  background-position: center;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-block-end: 1.2rem;
}

.cta-form input,
.cta-form select {
  inline-size: 100%;
  font-size: 1.8rem;
  padding-block: 1.2rem;
  padding-inline: 1.2rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--tint-clr1);
  border-radius: var(--border-radius-default);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta-form button {
  inline-size: 100%;
  padding-block: 1.25rem;
  align-self: end;
}

/* ****************************** */
/* ******* Footer SECTION ******* */
/* ****************************** */
.section-footer {
  padding-block: 12.8rem;
  border-block-start: 1.5px solid var(--lightest-grey);
  /* background-color: var(--white-smoke); */
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 3fr;
}

.footer-logo {
  display: block;
  margin-block-end: 3.2rem;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-block-end: 3.2rem;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  font-size: 2.4rem;
  color: var(--grey);
}

.copyright {
  font-size: 1.2rem;
  line-height: 1.2;
  margin-block-start: auto;
}

.contacts {
  font-size: 1.4rem;
  line-height: 1.6;
  font-style: normal;
}

.address {
  margin-block-end: 2.4rem;
}

.section-footer nav {
  grid-column-gap: 4.8rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--light-grey);
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: var(--grey);
}
