* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem var(--shade-trans-clr2);
}

html {
  /* base font size in root element */
  /* default value for font size is 16px */
  /* it is recommended to change it to 10px to ease calculations */
  /* however, converting from 16 to 10 as percentage is the best practice */
  font-size: calc((10 / 16) * 100%);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: var(--grey);
  font-family: Rubik, sans-serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}
