/* FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
:root {
  /* 01 fonts systems */
  /* FONT SIZE SYSTEM (px)*/
  /* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

  /* 02 colors systems */
  /* primary color */
  --primary-clr: #e67e22;

  /* shades: */
  --shade-clr1: #b8651b;
  /* tints: */
  --tint-clr1: #fdf2e9;
  --tint-clr2: #f5f5f5;
  --tint-clr3: #fff;
  /* accents: */

  --grey: #555;
  --dark-grey: #333;

  /* 03 shadows: ; */

  /* 04 border radius */
  --border-radius: 9px;

  /* 05 whitespace */
  /* space system (px) */
  /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* base font size in root element */
  /* default value for font size is 16px */
  /* it is recommended to change it to 10px to ease calculations */
  /* however, converting from 16 to 10 as percentage is the best practice */
  font-size: calc((10 / 16) * 100%);
}

body {
  color: var(--grey);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1;
}

.hero-section {
  display: grid;
  grid-template-areas:
    'heading-primary hero-img'
    'hero-text hero-img';
  align-items: center;
  justify-items: center;
  /* column-gap: 2rem; */

  background-color: var(--tint-clr1);
  padding-block: 9.6rem;
}

/* Hero Layout Items */
.hero-items {
  max-inline-size: 65rem;
}

.heading-primary {
  grid-area: heading-primary;
}

.hero-text {
  grid-area: hero-text;
}

.hero-img {
  grid-area: hero-img;
}
/* End of Hero Layout */

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;

  align-self: end;

  color: var(--dark-grey);
  /* margin-block-end: 3.2rem; */
}

.hero-description {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;

  margin-block-end: 4.8rem;
}

.btn:any-link {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  display: inline-block;
  padding-block: 1.6rem;
  /* block-size: 5.2rem; */
  /* instead using inline-size */
  /* to reserve the same width for both buttons */
  inline-size: 22.5rem;
  text-align: center;
  border-radius: var(--border-radius);

  transition: background-color 0.3s;
}

.btn--full:any-link {
  color: var(--tint-clr3);
  background-color: var(--primary-clr);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--shade-clr1);
}
.btn--outline:any-link {
  color: #555;
  background-color: var(--tint-clr3);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--tint-clr1);
  outline: 3px solid var(--tint-clr3);
}

.margin-right-sm {
  margin-inline-end: 1.6rem !important;
}

.delivered-meals {
  margin-block-start: 8rem;
  /* position: relative; */
  /* justify-self: start; */
  display: flex;
  align-items: center;
  gap: 1rem;
}

.delivered-meals img {
  block-size: 4.8rem;
  inline-size: 4.8rem;
  border-radius: 50%;
  border: 3px solid var(--tint-clr1);
}

.delivered-meals img:not(:nth-last-child(2)) {
  margin-inline-end: -2.6rem;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  /* display: inline-block;
  position: absolute;
  inset-block-start: 50%;
  transform: translate(1rem, -50%); */
}

.delivered-text data,
.delivered-text span {
  color: var(--shade-clr1);
  font-weight: 700;
}

.hero-img {
  inline-size: 100%;
}
