/* FONT SIZE SYSTEM (px)
        10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
:root {
  /* 01 fonts systems */
  /* FONT SIZE SYSTEM (px)*/
  /* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */
  --default-font-weight: 400;
  --default-line-height: 1;

  /* 02 colors systems */
  /* primary color */
  --primary-clr: #e67e22;

  /* tints: */
  --primary-tint-clr1: #fdf2e9;
  --primary-tint-clr2: #fae5d3;

  /* shades: */
  --primary-shade-clr1: #cf711f;

  /* accents: */

  --grey: #555;
  --dark-grey: #333;

  /* font color */
  --white: #fff;
  --white-smoke: #f5f5f5;

  /* 03 shadows: ; */

  /* 04 border radius */
  --border-radius: 10px;

  /* 05 whitespace */
  /* space system (px) */
  /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* base font size in root element */
  /* default value for font size is 16px */
  /* it is recommended to change it to 10px to ease calculations */
  /* however, converting from 16 to 10 as percentage is the best practice */
  font-size: calc((10 / 16) * 100%);
}

body {
  color: var(--grey);
  font-family: 'Rubik', sans-serif;
  font-weight: var(--default-font-weight);
  line-height: var(--default-line-height);
}

.hero-section {
  /* max-inline-size: 130rem; */
  margin-inline: auto;
  padding-block: 9.6rem;
  padding-inline: 6.48rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9.6rem;
  background-color: var(--primary-tint-clr1);
}

.hero-text-box,
.hero-img-box {
  max-inline-size: 65rem;
}

.heading-primary {
  color: var(--dark-grey);
  font-size: 5.2rem;
  line-height: 1.05;
  letter-spacing: -0.5px;

  margin-block-end: 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;

  margin-block-end: 4.8rem;
}

.btn:any-link {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;

  display: inline-block;
  padding-block: 1.6rem;
  /* block-size: 5.2rem; */
  /* instead using inline-size */
  /* to reserve the same width for both buttons */
  inline-size: 22.5rem;
  text-align: center;
  border-radius: var(--border-radius);

  transition: background-color 0.3s;
}

.btn--full:any-link {
  color: var(--white);
  background-color: var(--primary-clr);
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--primary-shade-clr1);
}
.btn--outline:any-link {
  color: #555;
  background-color: var(--white);
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--primary-tint-clr2);
  outline: 3px solid var(--white);
}

.hero-img {
  max-inline-size: 100%;
}

.margin-right-sm {
  margin-inline-end: 1.6rem !important;
}

.delivered-meals {
  margin-block-start: 8rem;
  position: relative;
}

.delivered-meals img {
  block-size: 4.8rem;
  inline-size: 4.8rem;
  border-radius: 50%;
  border: 3px solid var(--primary-tint-clr1);
}

.delivered-meals img:not(:nth-last-child(2)) {
  margin-inline-end: -1.6rem;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  position: absolute;
  inset-block-start: 50%;
  transform: translate(1rem, -50%);
}

.delivered-text data,
.delivered-text span {
  color: var(--primary-shade-clr1);
  font-weight: 700;
}
